mat-panel-description {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
    display: block;
}

mat-panel-title {
    white-space:nowrap;
}

.mat-expanded mat-panel-description {
    display: none;
}