
frontend/src/assets/compprak.json

frontend/src/assets/lean.json

webapp_backend/adminPasswordHash.txt

webapp_backend/secret.txt

webapp_backend/spring-shell.log


webapp_backend/repositories/

benchmarker/runner/codespeed-pse
