stages:
  - build
  - test
  - deploy

pacrjob:
  stage: test
  tags:
    - maven
  script:
    - echo "Building project with maven"
    - cd webapp_backend
    - mvn verify
    - cd ../frontend
    - ng build --aot --prod