<mat-card [style.overflow]="'auto'">
    <mat-card-title>
        {{ strings?.title }} {{ benchmarkers?.length | braces }}
    </mat-card-title>
    <mat-card-content>
        <mat-accordion class="valgin-center">
            <mat-expansion-panel *ngFor="let benchmarker of benchmarkers; trackBy: trackBenchmarker">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-chip-list>
                                <mat-chip *ngIf="!benchmarker.currentJob" selected selectable="false" color="accent" class="label">
                                    Idle
                                </mat-chip>
                                <mat-chip *ngIf="benchmarker.currentJob" selected selectable="false" color="primary" class="label">
                                    Running
                                </mat-chip>
                            </mat-chip-list>   

                            <span id="benchmarkerTitle">
                                {{ benchmarker.systemEnvironment.computerName }}
                            </span>
                                                    
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="benchmarker.currentJob" class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">Currently benchmarking:</span>
                    <p *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">
                        <a (click)="selectCommit(benchmarker.currentJob.jobID)" 
                            matTooltip="{{ benchmarker.currentJob.jobID }}" matTooltipPosition="left">
                            {{ benchmarker.currentJob.jobID | shortenString:7 }}
                        </a> 
                        from 
                        {{ benchmarker.currentJob.jobGroupTitle }}</p>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.computerName }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.computerName }}</span>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.os }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.os }}</span>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.processor }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.processor }}</span>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.kernel }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.kernel }}</span>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.cores }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.cores }}</span>
                </div>

                <div class="itemRow">
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3">{{ strings?.ram }}</span>
                    <span *ngIf="benchmarker.systemEnvironment" class="mat-h3 valueText">{{ benchmarker.systemEnvironment.ramMemory }} {{ strings?.ramUnit }}</span>
                </div>
                
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
