<mat-card [style.overflow]="'auto'">
    <mat-card-title>
        {{ strings?.title }} {{ benchmarkers?.length | braces }}
    </mat-card-title>
    <mat-card-content>
        <mat-accordion class="valgin-center">
            <mat-expansion-panel *ngFor="let benchmarker of benchmarkers">
                <mat-expansion-panel-header>
                    <mat-panel-title> {{ benchmarker.computerName }} </mat-panel-title>
                    <mat-panel-description> {{ benchmarker.os }} </mat-panel-description>
                </mat-expansion-panel-header>

                <p class="mat-h3"> {{ strings?.computerName }} {{ benchmarker.computerName }} </p>

                <p class="mat-h3"> {{ strings?.os }} {{ benchmarker.os }} </p>

                <p class="mat-h3"> {{ strings?.processor }} {{ benchmarker.processor }} </p>

                <p class="mat-h3"> {{ strings?.kernel }} {{ benchmarker.kernel }} </p>
               
                <p class="mat-h3"> {{ strings?.cores }} {{ benchmarker.cores }} </p>

                <p class="mat-h3"> {{ strings?.ram }} {{ benchmarker.ramMemory }} {{ strings?.ramUnit }} </p>

            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
