mat-card {
    height: 96%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

:host {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
}

mat-panel-description {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
    display: block;
}

mat-panel-title {
    white-space:nowrap;
}

.mat-expanded mat-panel-description {
    display: none;
}

.itemRow {
    margin-bottom: 5px;
}

.itemRow span + span {
    margin-left: 7px;
}

.label {
    font-size: 12px;
    padding: 0, 4px;
    border-radius: 3px;
    min-width: 70px;
    justify-content: center;
}

#benchmarkerTitle {
    margin-left: 10px;
}