mat-card {
    height: 100%;
}

canvas {
    height: 100%;
}

.maximize-button {
    position: absolute;
    right: 1em;
}

mat-form-field {
    width: 100%;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

.diagram-spinner {
    position: absolute;
    top: 40%;
    left: 57%;
}

.legend {
    height: 50%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}