<mat-card>
    <button class="maximize-button" mat-mini-fab *ngIf="!this.maximized" (click)="maximizeDiagram()">
        <mat-icon>fullscreen</mat-icon>
    </button>
    <div fxLayout="row" fxFlexFill>
        <div fxFlex="15%">
            <mat-form-field>
                <mat-label>Benchmark</mat-label>
                <mat-select [(value)]="selectedBenchmark" (selectionChange)="loadBenchmark()">
                    <mat-optgroup *ngFor="let group of this.benchmarks | keyvalue" [label]="group.key">
                        <mat-option *ngFor="let benchmark of group.value" [value]="benchmark">
                            {{ benchmark.customName }}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Property</mat-label>
                <mat-select [(value)]="selectedBenchmarkProperty" (selectionChange)="loadProperty()">
                    <mat-option *ngFor="let property of this.selectedBenchmark?.properties" [value]="property">
                        {{ property.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ul *ngIf="this.legendData">
                <li *ngFor="let legendItem of this.legendData; let i = index">
                    <mat-checkbox [(ngModel)]="this.checked[i]" (change)="toggleLine(i)">{{ legendItem.repository }}/{{ legendItem.branch }}</mat-checkbox>
                </li>
            </ul>

        </div>
        <canvas fxFlex="85%" baseChart
            [datasets]="datasets"
            [labels]="labels"
            [options]="options"
            [legend]="legend"
            [chartType]="type"
            [plugins]="plugins">
        </canvas>
    </div>
</mat-card>