<mat-card>
    <mat-form-field>
        <mat-label>Benchmark</mat-label>
        <mat-select [(value)]="selectedBenchmark" (selectionChange)="selectBenchmark(selectedBenchmark)">
            <mat-option required *ngFor="let benchmark of benchmarks" [value]="benchmark.originalName">
                {{ benchmark.customName }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <canvas baseChart
        [datasets]="datasets"
        [labels]="labels"
        [options]="options"
        [legend]="legend"
        [chartType]="type"
        [plugins]="plugins"></canvas>
</mat-card>
    