#comparison {
    margin-top: 10px;
}

:host {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
}

#repositorySelect {
    max-width: 300px;
}

#stickyHeader {
    top: 0;
    position: sticky;
    z-index: 999;
    padding: 9px 0px;
    background: #424242;    
}