<mat-card [style.overflow]="'auto'">
    <mat-card-header id="stickyHeader">
        <span class="mat-h2">
            Compare 
            <a *ngIf="this.commitHash1" (click)="openDetailView(this.commitHash1)">{{ this.commitHash1 | shortenString:7 | braces }}</a>
            <span *ngIf="!this.commitHash1">{{ "not selected" | braces }}</span>
            with
            <a *ngIf="this.commitHash2" (click)="openDetailView(this.commitHash2)">{{ this.commitHash2 | shortenString:7 | braces }}</a>
            <span *ngIf="!this.commitHash2">{{ "not selected" | braces }}</span>
        </span>
        <button mat-button [disabled]="!(this.commitHash1 && this.commitHash2)" (click)="openCommitComparison()">Compare</button>
        <button mat-button (click)="clear()">Clear</button>
    </mat-card-header>
    
    <mat-card-content>
        <div id="tableControls" fxLayout="row">
            <mat-select (selectionChange)="updateRepository()" id="repositorySelect" [(ngModel)]="this.selectedRepository" [compareWith]="compareRepository">
                <mat-option *ngFor="let repository of this.repositories" [value]="repository">
                    {{ repository.name }}
                </mat-option>
            </mat-select>
            <mat-paginator [length]="this.commitsPage?.totalElements"
                [pageSize]="this.commitsPage?.size"
                [pageSizeOptions]="this.pageSizeOptions"
                (page)="this.commitsPageEvent = this.getCommits($event)">                    
            </mat-paginator>
        </div>
        
        <table fxFill mat-table [dataSource]="commits" class="mat-elevation-z8">
            <ng-container matColumnDef="commitDate">
                <th mat-header-cell *matHeaderCellDef> {{ this.strings?.commitDate }} </th>
                <td mat-cell *matCellDef="let element">{{ element.commitDate | date }}</td>
            </ng-container>

            <ng-container matColumnDef="authorDate">
                <th mat-header-cell *matHeaderCellDef> {{ this.strings?.authorDate }} </th>
                <td mat-cell *matCellDef="let element">{{ element.authorDate | date }}</td>
            </ng-container>

            <ng-container matColumnDef="commitHash">
                <th mat-header-cell *matHeaderCellDef> {{ this.strings?.commitHash }} </th>
                <td mat-cell *matCellDef="let element">{{ element.commitHash | shortenString:7 }}</td>
            </ng-container>
        
            <ng-container matColumnDef="commitMessage">
                <th mat-header-cell *matHeaderCellDef> {{ this.strings?.commitMessage }} </th>
                <td mat-cell *matCellDef="let element">{{ element.commitMessage }}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="this.selectForComparison(row)"></tr>
        </table>
    </mat-card-content>
</mat-card>