table {
    width: 100%;
}

.expandIcon {
    height: 28px;
    vertical-align: bottom;
    cursor: pointer;
}

#compareRation {
    margin-left: 30px;
}

.errorIcon {
    font-size: 18px;
    width: 18px;
    height: 17px;
    vertical-align: bottom;
}