table {
    width: 100%;
}

#compareRation {
    margin-left: 30px;
}

#localErrorIcon {
    font-size: 18px;
    width: 18px;
    height: 17px;
    vertical-align: bottom;
}

#expandIcon {
    height: 26px;
    vertical-align: bottom;
}

.sectionHeading {
    margin-top: 15px;
    margin-bottom: 8px;
}