<mat-card class="maximized" [style.overflow]="'auto'">
    <mat-card-header>
        <mat-card-title>
            <span>{{ strings?.cardTitle }}</span>
            <a target="_blank" rel="noopener noreferrer" class="mat-h2" *ngIf="benchmarkingResult?.commitURL" href="{{ benchmarkingResult?.commitURL }}" 
                matTooltip="{{ benchmarkingResult?.commitHash }}" matTooltipPosition="right"> 
                {{ benchmarkingResult?.commitHash  | shortenString:7 | braces}}
            </a>
            <span class="mat-h2" *ngIf="!benchmarkingResult?.commitURL"
                matTooltip="{{ benchmarkingResult?.commitHash }}" matTooltipPosition="right"> 
                {{ benchmarkingResult?.commitHash  | shortenString:7 | braces}}
            </span>
            <div class="labelContainer">
                <mat-chip-list>
                    <mat-chip *ngIf="benchmarkingResult?.globalError" selected selectable="false" color="warn" class="label"
                        matTooltip="{{ strings?.globalErrorLabelTooltip }}">
                        {{ strings?.globalErrorLabel }}
                    </mat-chip>
                    <mat-chip *ngFor="let label of benchmarkingResult?.commitLabels" class="label" selectable="false">
                        {{ label }}                  
                    </mat-chip>
                </mat-chip-list>
            </div>
        </mat-card-title>

        <div fxFlex></div>
        
        <div id="comparedTo">
            <span *ngIf="benchmarkingResult?.comparisonCommitHash">
                {{ strings?.comparedTo }}                    
            </span> 
            <a *ngIf="benchmarkingResult?.comparisonCommitHash" (click)="selectCommit(benchmarkingResult?.comparisonCommitHash);" 
                matTooltip="{{benchmarkingResult?.comparisonCommitHash}}" matTooltipPosition="left">
                {{ benchmarkingResult?.comparisonCommitHash | shortenString:7 }}
            </a>            
        </div>

        <button mat-mini-fab (click)="close()">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
    </mat-card-header>
    
    <mat-card-content>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="{{ strings?.tabCommitData }}">
                <p class="mat-h2 sectionHeading"> {{ strings?.commitData }} </p>

                <app-commit-details [benchmarkingResult]="benchmarkingResult"></app-commit-details>

                <p class="mat-h2 sectionHeading"> {{ strings?.systemEnvironment }} </p>

                <app-system-environment-display [systemEnvironment]="benchmarkingResult?.systemEnvironment"></app-system-environment-display>
            </mat-tab>
            <mat-tab label="{{ strings?.tabCommitResults }}" [disabled]="benchmarkingResult?.globalError">
                <app-benchmarking-result-table *ngIf="benchmarkingResult" [commitHash]="benchmarkingResult.commitHash" #resultTable></app-benchmarking-result-table>
            </mat-tab>
        <!-- <mat-tab label="Data Details">
            <app-property-boxplot fxFill></app-property-boxplot>
        </mat-tab> -->
        </mat-tab-group>
    </mat-card-content>
    
</mat-card>