table {
    width: 100%;
}

#compareRation {
    margin-left: 30px;
}

#localErrorIcon {
    font-size: 18px;
    width: 18px;
    height: 17px;
    vertical-align: bottom;
}

#expandIcon {
    height: 26px;
    vertical-align: bottom;
}

.sectionHeading {
    margin-top: 15px;
    margin-bottom: 8px;
}

.label {
    font-size: 12px;
    padding: 0, 4px;
    border-radius: 3px;
}
  
.labelContainer {
    margin-top: 6px;
}

mat-panel-description {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
    display: block;
}

mat-panel-title {
    white-space:nowrap;
}

.mat-expanded mat-panel-description {
    display: none;
}