mat-card {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

:host {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
}

mat-panel-description {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
    display: block;
}

mat-panel-title {
    white-space:nowrap;
}

.mat-expanded mat-panel-description {
    display: none;
}

mat-tab-group {
    height: 100%;
}