<mat-grid-list cols="100" rowHeight="90%" gutterSize="2em">
    <mat-grid-tile [colspan]="70">
        <mat-card fxFill [style.overflow]="'auto'">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="{{ strings?.tabRepositories }}">
                    <app-admin-repositories></app-admin-repositories>
                </mat-tab>
                <mat-tab label="{{ strings?.tabBenchmarks }}">
                    <app-admin-benchmarks></app-admin-benchmarks>
                </mat-tab>
                <mat-tab label="{{ strings?.tabSSH }}">
                
                </mat-tab>
                <mat-tab label="{{ strings?.tabImportExport }}">
                
                </mat-tab>            
                <mat-tab label="{{ strings?.tabDashboards }}" [disabled]="true">

                </mat-tab>
            </mat-tab-group>        
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="30">
        <app-job-queue fxFill [style.overflow]="'auto'"></app-job-queue>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="70">
        <app-benchmarker-list fxFill [style.overflow]="'auto'"></app-benchmarker-list>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="30">
        <app-commit-history fxFill [style.overflow]="'auto'" (commitSelectedEvent)="openCommitDetailView($event)"></app-commit-history>
    </mat-grid-tile>
</mat-grid-list>