<mat-grid-list cols="100" rowHeight="75%" gutterSize="1em">
    <mat-grid-tile [colspan]="70">
        <mat-card fxFill [style.overflow]="'auto'">
            <mat-tab-group animationDuration="0ms">
                <mat-tab label="{{ strings?.tabRepositories }}">
                    <app-admin-repositories></app-admin-repositories>
                </mat-tab>
                <mat-tab label="{{ strings?.tabBenchmarks }}">
                    <app-admin-benchmarks></app-admin-benchmarks>
                </mat-tab>
                <mat-tab label="{{ strings?.tabSSH }}">
                    <app-ssh-config></app-ssh-config>
                </mat-tab>
                <mat-tab label="{{ strings?.tabImportExport }}">
                    <app-admin-import-export></app-admin-import-export>
                </mat-tab>
            </mat-tab-group>        
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="30" [rowspan]="2">
        <app-commit-history-job-queue-wrapper fxFill [style.overflow]="'auto'" [defaultTabIndex]="1"
            [openDetailViewMaximized]="true"></app-commit-history-job-queue-wrapper>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="70">
        <app-benchmarker-list fxFill [style.overflow]="'auto'"></app-benchmarker-list>
    </mat-grid-tile>
</mat-grid-list>