<mat-card>
    <form>
        <p>
            <mat-form-field>
                <input matInput type="number" placeholder="Pullinterval" value={{pullInterval}}>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="number" placeholder="Deletioninterval" value={{deletionInterval}}>
            </mat-form-field>
        </p>
        <button mat-fab color="primary" (click)="updateIntervals()" matToolTip="save">
            <mat-icon>save</mat-icon>
        </button>
    </form>
</mat-card>