<mat-card class="maximized" [style.overflow]="'auto'">
    <mat-card-header>
        <mat-card-title>
            <span>{{ strings?.comparing }}</span>
            <a target="_blank" rel="noopener noreferrer" class="mat-h2" *ngIf="benchmarkingResult1?.commitURL" href="{{ benchmarkingResult1?.commitURL }}" 
                matTooltip="{{ benchmarkingResult1?.commitHash }}" matTooltipPosition="below"> 
                {{ benchmarkingResult1?.commitHash  | shortenString:7 }}
            </a>
            <span class="mat-h2" *ngIf="!benchmarkingResult1?.commitURL"
                matTooltip="{{ benchmarkingResult1?.commitHash }}" matTooltipPosition="below"> 
                {{ benchmarkingResult1?.commitHash  | shortenString:7 }}
            </span>
            <span>{{ strings?.with }}</span>
            <a target="_blank" rel="noopener noreferrer" class="mat-h2" *ngIf="benchmarkingResult2?.commitURL" href="{{ benchmarkingResult2?.commitURL }}" 
                matTooltip="{{ benchmarkingResult2?.commitHash }}" matTooltipPosition="below"> 
                {{ benchmarkingResult2?.commitHash  | shortenString:7 }}
            </a>
            <span class="mat-h2" *ngIf="!benchmarkingResult2?.commitURL"
                matTooltip="{{ benchmarkingResult2?.commitHash }}" matTooltipPosition="below"> 
                {{ benchmarkingResult2?.commitHash  | shortenString:7 }}
            </span>
        </mat-card-title>
        <div fxFlex></div>
        <button mat-mini-fab (click)="close()">
            <mat-icon>fullscreen_exit</mat-icon>
        </button>
    </mat-card-header>
    
    <mat-card-content>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="{{ strings?.tabCommitMetadata }}">
                <div class="halfScreen left">
                    <p class="mat-h1 title"> {{ benchmarkingResult1.commitHash | shortenString:7 }} </p>
                    <app-commit-details [benchmarkingResult]="benchmarkingResult1"></app-commit-details>
                    <p class="mat-h1 title"> {{ strings?.systemEnvironment }} </p>
                    <app-system-environment-display [systemEnvironment]="benchmarkingResult1?.systemEnvironment"></app-system-environment-display>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="halfScreen right">
                    <p class="mat-h1 title"> {{ benchmarkingResult2.commitHash | shortenString:7 }} </p>
                    <app-commit-details [benchmarkingResult]="benchmarkingResult2"></app-commit-details>
                    <p class="mat-h1 title"> {{ strings?.systemEnvironment }} </p>
                    <app-system-environment-display [systemEnvironment]="benchmarkingResult2?.systemEnvironment"></app-system-environment-display>
                </div>
            </mat-tab>
            <mat-tab label="{{ strings?.tabComparison }}">
                <app-commit-comparison-table [commitHash1]="commitHash1" [commitHash2]="commitHash2"></app-commit-comparison-table>
            </mat-tab>
            <mat-tab label="{{ strings?.tabBenchmarkingResults }} {{ benchmarkingResult1.commitHash | shortenString:7 }}">
                <app-benchmarking-result-table [commitHash]="commitHash1"></app-benchmarking-result-table>
            </mat-tab>
            <mat-tab label="{{ strings?.tabBenchmarkingResults }} {{ benchmarkingResult2.commitHash | shortenString:7 }}">
                <app-benchmarking-result-table [commitHash]="commitHash2"></app-benchmarking-result-table>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    
</mat-card>