<mat-grid-list cols="100" rowHeight="75%" gutterSize="1em">
  <mat-grid-tile [colspan]="70">
    <app-diagram fxFill></app-diagram>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="30">
    <app-events fxFill></app-events>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="70">
    <app-detail-view-comparison-wrapper fxFill></app-detail-view-comparison-wrapper>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="30">
    <app-commit-history-job-queue-wrapper fxFill></app-commit-history-job-queue-wrapper>
  </mat-grid-tile>
</mat-grid-list>

