html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

:host {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    padding: 2em;
}

.top {
    height: 60%;
}

.bottom {
    margin-top: 2em;
    height: 40%;
}
