<mat-grid-list cols="100" rowHeight="70%" gutterSize="2em">
  <mat-grid-tile [colspan]="70">
    <app-diagram fxFill></app-diagram>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="30">
    <app-job-queue fxFill></app-job-queue>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="70">
    <app-comparison fxFill></app-comparison>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="30">
    <app-commit-history fxFill (commitSelectedEvent)="openCommitDetailView($event)"></app-commit-history>
  </mat-grid-tile>
</mat-grid-list>