/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar style */

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(66, 66, 66); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(88, 88, 88); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(83, 83, 83); 
}

/* maximize component */
.maximized {
  width: 92vw;
  height: 92vh;
}