<mat-card [style.overflow]="'auto'">
    <mat-card-header>
        <mat-card-title>Commit Detail View</mat-card-title>
        
        <!-- Push button to the right -->
        <div fxFlex></div>

        <button mat-button (click)="openMaximizedDetailView()">Open</button>
    </mat-card-header>

    <mat-card-content>
        <table *ngIf="selectedCommitSha !== ''" mat-table [dataSource]="tableData">
            <ng-container matColumnDef="property">
                <th mat-header-cell *matHeaderCellDef>Property</th>
                <td mat-cell *matCellDef="let element">{{ element.property }}</td>
            </ng-container>
            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Value</th>
                <td mat-cell *matCellDef="let element">{{ element.value }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <p *ngIf="selectedCommitSha === ''">Select a commit!</p>
    </mat-card-content>
    
</mat-card>