mat-card {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

:host {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
}

.label {
    font-size: 12px;
    padding: 0, 4px;
    border-radius: 3px;
}

.labelContainer {
    margin-top: 6px;
}

#commitDetails {
    display: inline-block;
    width: 59%;
    height: 100%;
}

#benchmarkingResults {
    width: 39%;
    height: 100%;
    float: right;
}

.mat-expanded mat-panel-description {
    display: none;
}

.red {
    color: red; 
}

.black {
    color: black;
}

.green {
    color: green;
}

mat-panel-description{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
    display: block;
}

mat-panel-title{
    white-space:nowrap;
}
