<div>
    <mat-paginator [length]="this.commitsPage?.totalElements"
        [pageSize]="this.commitsPage?.size"
        [pageSizeOptions]="this.pageSizeOptions"
        (page)="this.commitsPageEvent = this.getCommitHistory($event)">                    
    </mat-paginator>

    <mat-accordion id="history" class="headers-align">
        <mat-expansion-panel *ngFor="let commit of commits; trackBy: trackCommitHistoryItem">
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    <span [ngStyle]="{'text-decoration': isNewCommit(commit) ? 'underline' : 'none'}">{{ commit.entryDate | timeAgo }}</span>
                </mat-panel-title>
                
                <mat-panel-description>
                    <span [ngClass]="{red : commit.globalError, green: commit.compared && commit.significant}">
                        {{ commit.commitMessage }}
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <p class="mat-h3">
                {{ strings?.commitHash }}
                
                <a (click)="selectCommit(commit.commitHash)" matTooltip="{{commit.commitHash}}" matTooltipPosition="right">
                    {{ commit.commitHash | shortenString:7 }}
                </a>
            </p>
            
            <p *ngIf="commit.compared && commit.significant">{{ strings?.significantCommit }}</p>

            <span class="mat-h3">{{ strings?.commitMessage }}</span>
            <p class="mat-h3 valueText">{{ commit.commitMessage }}</p>

            <span *ngIf="commit.globalError" class="mat-h3">{{ strings?.errorMessage }}</span>
            <p *ngIf="commit.globalError" class="mat-h3 valueText">{{ commit.globalErrorMessage }}</p>

            <div class="textAlignRow">
                <div>{{ strings?.authorDate }}</div>
                <div class="textAlignItem valueText">{{ commit.authorDate | date:'MMM dd, y, HH:mm:ss' }}</div>     
            </div>
            <div class="textAlignRow">
                <div>{{ strings?.commitDate }}</div>
                <div class="textAlignItem valueText">{{ commit.commitDate | date:'MMM dd, y, HH:mm:ss' }}</div>
            </div>
            <div class="textAlignRow">
                <div>{{ strings?.entryDate }}</div>
                <div class="textAlignItem valueText">{{ commit.entryDate | date:'MMM dd, y, HH:mm:ss' }}</div>
            </div>
        </mat-expansion-panel>
    </mat-accordion> 
</div>
