<mat-card [style.overflow]="'auto'">
    <mat-card-header>
        <mat-card-title>Latest Commits</mat-card-title>
    </mat-card-header>
    <mat-accordion class="headers-align">
        <mat-expansion-panel *ngFor="let commit of commits">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ commit.sha }}</mat-panel-title>
                <mat-panel-description>{{ commit.commitDate | date }}</mat-panel-description>
            </mat-expansion-panel-header>
            {{ commit.commitMessage }}
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
