<mat-toolbar color="primary">
    <img height="64" src="assets/logo.png">
    <a mat-icon-button (click)="navigateBack()" matTooltip="back" fxShow.sm="true" fxShow="false">
        <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <a mat-icon-button (click)="navigateForward()" matTooltip="forward" fxShow.lt-md="true" fxShow="false">
        <mat-icon>arrow_forward_ios</mat-icon>
    </a>
    <span fxFlex></span>
    <a mat-button [routerLink]="['/competitive']" [routerLinkActive]="'active'">Competitive Dashboard</a>
    <a mat-button [routerLink]="['/academic']" [routerLinkActive]="'active'">Academic Dashboard</a>
    <a *ngIf="this.isLoggedIn()" mat-button [routerLink]="['/admin']" [routerLinkActive]="'active'" matTooltip="Admin-Interface">Admin-Interface</a>
    <a *ngIf="!this.isLoggedIn()" mat-button [routerLink]="['/login']" [routerLinkActive]="'active'">Login</a>
</mat-toolbar>