<mat-toolbar color="primary">
    <a mat-icon-button (click)="navigateBack()" matTooltip="back" fxShow.sm="true" fxShow="false">
        <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <a mat-icon-button (click)="navigateForward()" matTooltip="forward" fxShow.lt-md="true" fxShow="false">
        <mat-icon>arrow_forward_ios</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['']" matTooltip="Dashboard">
        <mat-icon>home</mat-icon>
    </a>
    <span fxFlex></span>
    <img class="center" width="80" src="assets/logo.png">
    <span fxFlex></span>
    <a mat-icon-button [routerLink]="['/admin']" matTooltip="Admin-Interface">
        <mat-icon>build</mat-icon>
    </a>
</mat-toolbar>