#properties {
    width: 97%;
}

#options {
    max-width: 100px;
    height: 100%;
    float: right;
}

.optionButton {
    font-size: 35px;
    height: 35px;
    width: 35px;
    margin-bottom: 35px;
    cursor: pointer;
}

form {
    padding: 10px;
    width: 100%;
}

.colorRectangle {
    width: 70px;
    height: 12px;
    margin-left: 5px;
    display: inline-block;
    border: solid 0.5px rgb(255, 255, 255);
}

.tabTitle {
    margin-top: 20px;
}

.inlineLabel{
    margin-right: 15px;
}

.inlineContainer {
    width: 100%;
}

#webHookOption {
    min-width: 160px;
    margin-left: 15px;
    float: right;
}

mat-form-field {
    width: 100%;
}

#repositoryColor {
    max-width: 200px;
}


.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.formCancelButton {
    margin-left: 16px;
}

.formSubmitButton {
    min-width: 150px;
}

mat-radio-group {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.pull-interval {
    /* padding: 1em; */
}

.pull-interval > * {
    padding: 0.5em;
}